[user]
	name = Steve Della Valentina
	email = s.dellavalentina@gmail.com
	signingkey = 333487C4FFB88C8D
[commit]
	gpgsign = true
[pull]
	rebase = true
[core]
	editor = nvim
	hooksPath = ~/dotfiles/git-hooks
[init]
	defaultBranch = main
