[commit]
	gpgsign = true
[user]
	email = s.dellavalentina@gmail.com
	name = Steve Della Valentina
	signingkey = 798604F521F0B2F8
[pull]
	rebase = true
[core]
	editor = micro
[init]
	defaultBranch = main
