plan_mode_reasoning_effort = "xhigh"
notify = ["{{ .chezmoi.homeDir }}/.codex/computer-use/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient", "turn-ended"]
model = "gpt-5.5"
model_reasoning_effort = "high"
approvals_reviewer = "user"

[projects."{{ .chezmoi.homeDir }}"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Git/dotfiles"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Git/love-nest"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Git"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Git/courtyard-frontend"]
trust_level = "trusted"

[tui]
status_line = ["project-name", "git-branch", "branch-changes"]
status_line_use_colors = true

[tui.model_availability_nux]
"gpt-5.5" = 4

[features]
terminal_resize_reflow = false
memories = true
prevent_idle_sleep = true
js_repl = false

[plugins."browser@openai-bundled"]
enabled = true

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."pdf@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[plugins."chrome@openai-bundled"]
enabled = true

[plugins."template-creator@openai-primary-runtime"]
enabled = true

[desktop]
conversationDetailMode = "STEPS_COMMANDS"
ambient-suggestions-enabled = false
